* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Intern", sans-serif;
}
body {
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}

h2,
p {
  margin: 20px;
}
input,
button {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  display: block;
}
input{
    color: black;
    font-weight: 600;
    font-size: 20px;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #eb3349 0%,
    #f45c43 51%,
    #eb3349 100%
  );
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
